@charset "utf-8";
/*!*********************
 *@name style
 *@author Jo.gel
 *@date 2017/10/27
 ***********************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/********special font*******/
* {
  font-family: "Microsoft Jhenghei", "serif", "sans-serif", "cursive", "fantasy", "monospace"
}

/********** clearFix*************/
.clear {
  &:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
  }
}

/**********root*************/
html {
}

body {
}

#__layout {
  width: 100%;
  height: 100%;
}

/********** line color *************/

/********** margin settings ********/
.m-right-5{
  margin-right: 5px;
}
.m-left-5{
  margin-left: 5px;
}
.m-bottom-10{
  margin-bottom: 10px;
}