@charset "utf-8";
/*!*********************
 *@name style
 *@author Jo.gel
 *@date 2017/10/27
 ***********************/
html,body{
  width: 100%;
  height: 100%;
}
#__nuxt{
  width: 100%;
  height: 100%;
  .main{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  header{

  }
  .container{
    flex:1;
  }
  footer{
    color: red;
    margin-bottom: 20px;
  }
}