@charset "utf-8";
/*!*********************
 *@name style
 *@author Jo.gel
 *@date 2017/10/27
 ***********************/
html, body {
  width: 100%;
  height: 100%;
}

#__nuxt {
  width: 100%;
  height: 100%;
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .container {
    flex: 1;
    .login {
      width: 400px;
      margin: 0 auto;
      text-align: center
    }
  }
  footer {
    color: red;
    margin-bottom: 20px;
  }
}

//article{
//  background: #fff !important
//}
/** 全屏模式布局 {settings}，width=100% */
.all-section {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

/** 预览模式布局 {default},width=1200px */

.view-section {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  width: 1200px;
  margin: 10px auto;
}

/** iPad pro 横向 1024 */
@media screen and (max-width: 1200px) {
  .view-section{
    width: 100%;
  }
}