@charset "UTF-8";
/*!*********************
 *@name style
 *@author Jo.gel
 *@date 2018/2/20
 ***********************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

/********special font*******/
* {
  font-family: "Microsoft Jhenghei", "serif", "sans-serif", "cursive", "fantasy", "monospace"
}

/**********root*************/
html {
}

body {
  font-size: 14px !important;
}

/** ****************************************
*
*    Reset highlight default style
*    import 'highlight.js/styles/googlecode.css'
*
*********************************************/
.hljs {
  background: transparent !important;
}

pre {
  code {
    span {
      line-height: 1.5;
    }
  }
}

/** ****************************************
*
*   *github markdown css style theme
*
*********************************************/

.github_ {

}

/** ****************************************
*
*   *vsCode markdown css style theme
*
*********************************************/
.vsCode_ {

}

/** ****************************************
*
*   *vueJS markdown css style theme
*
*********************************************/
$vue_strongColor: #2c3e50;
$vue_bg: #f8f8f8;
$vue_aColor: #42b983;
$vue_codeBg: #f8f8f8;
$vue_haColor: #2c3e50; //h标签下的a标签
$vue_border: #ddd;
$vue_keyword: #e96900;
$vue_tagColor: #2973b7;
$vue_function: #0092db;
$vue_error: #f66;
.vueJs_ {
  /** success */
  blockquote {
    position: relative;
    p {
      position: relative;
      border-left: 4px solid $vue_aColor;
      padding: 12px 24px 12px 30px;
      background: $vue_bg;
      margin-bottom: .5em;
      &:before {
        display: block;
        position: absolute;
        content: '!';
        top: 14px;
        left: -12px;
        padding-left: 2px;
        background: $vue_aColor;
        color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
      }
    }
    blockquote {
      p{
        position: relative;
        border-left: 4px solid $vue_error;
        padding: 12px 24px 12px 30px;
        &:before {
          display: block;
          position: absolute;
          content: '!';
          top: 14px;
          left: -12px;
          padding-left: 2px;
          background: $vue_error;
          color: #fff;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          text-align: center;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }

  h1, h2, h3, h4, h5, strong {
    position: relative;
    font-weight: 600;
    color: $vue_strongColor;
    a {
      pointer-events: auto;
      color: $vue_haColor;
    }
  }
  h1 {
    margin: 0 0 1em;
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
    margin: 45px 0 .8em;
    padding-bottom: .7em;
    border-bottom: 1px solid $vue_border;
  }
  h3 {
    font-size: 1.25em;
    margin: 52px 0 1.2em;
    &:after {
      content: "#";
      color: $vue_aColor;
      position: absolute;
      left: -0.7em;
      bottom: -2px;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  h4 {
    font-size: 14px
  }
  h5 {
    font-size: 0.83em
  }
  a {
    text-decoration: none;
    color: $vue_aColor;
  }
  p {
    line-height: 1.6em;
    margin: 1.2em 0 -1.2em;
    padding-bottom: 1.2em;
    position: relative;
    z-index: 1;
  }
  pre {
    position: relative;
    background-color: $vue_codeBg;
    padding: 1.2em 1.4em;
    margin: 1.2em 0;
    line-height: 1.1em;
    border-radius: 2px;
  }
  .hljs-tag {
    color: $vue_tagColor;

  }
  .hljs-string {
    color: $vue_aColor;
  }
  .javascript {
    .hljs-function {
      .hljs-keyword {
        color: $vue_function;
      }
    }
    .hljs-keyword {
      color: $vue_keyword;
    }
  }
}

/** ****************************************
*
*   jetBrains markdown css style theme
*
*********************************************/

/** ****************************************
*
*   sublime markdown css style theme
*
*********************************************/

/** ****************************************
*
*   atom markdown css style theme
*
*********************************************/

/** ****************************************
*
*   vim markdown css style theme
*
*********************************************/